In [1]:
from google.api_core.protobuf_helpers import get_messages
from google.cloud import language_v1
import os
from collections import Counter
import string
from nltk.stem.snowball import SnowballStemmer
import re
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
import requests
API_KEY = "AIzaSyA_iubOc4cbfzWwcD9ApHLmDU8B0AXhRzM"
entities_url = f"https://language.googleapis.com/v1/documents:analyzeEntities?key={API_KEY}"
sentiment_url = f"https://language.googleapis.com/v1/documents:analyzeSentiment?key={API_KEY}"

In [3]:
def get_entities(doc): 
    type_ = language_v1.Document.Type.PLAIN_TEXT
    encoding_type = language_v1.EncodingType.UTF8
    language ='en'
    document = {"content": doc, "type": type_, "language": language}
    res = requests.post(entities_url,json={"document":document,"encoding_type":encoding_type})
    return res

In [4]:
def get_sentiment(doc): 
    type_ = language_v1.Document.Type.PLAIN_TEXT
    encoding_type = language_v1.EncodingType.UTF8
    language ='en'
    document = {"content": doc, "type": type_, "language": language}
    res = requests.post(sentiment_url,json={"document":document,"encoding_type":encoding_type})
    return res

In [5]:
def get_batch(movie_title,startkey=''):
    if startkey=='':
        res = requests.get(f"https://www.imdb.com/title/{movie_title}/reviews")
    else:
        res = requests.get(f'https://www.imdb.com/title/{movie_title}/reviews/_ajax?ref_=undefined&paginationKey={startkey}')
    return res

In [42]:
def get_all_reviews(title:str, limit:int, startkey=''):

    data=[]
    finished_reviews = False
    while not finished_reviews:
        if len(data) >= limit:
            finished_reviews = True
            return data

        batch = get_batch(title,startkey)
        page = BeautifulSoup(batch.text,'lxml')
        reviews = page.find_all('div',{'class':'lister-item mode-detail imdb-user-review collapsable'})


        for review in reviews:
            review_id = review.find('a',{'class':'title'})['href']
            title = review.find('a',{'class':'title'}).text.strip()

            score = ''
            try: 
                score = int(review.find('span').text.strip().replace('/10','')) 

            except:
                score = 0

            text = review.find('div',{'class':'text show-more__control'}).text.strip()
            data.append([review_id,title,score,text])

        print(len(data))

        if page.find('div',{'class':'load-more-data'}) == None:                
            finished_reviews = True
            break

        else:    
            startkey = page.find('div',{'class':'load-more-data'})['data-key']            
            batch = get_batch(title,startkey)

    return data

In [55]:
def get_25_reviews():
    res = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
    title_rows = BeautifulSoup(res.text, 'lxml').find_all('td',{'class':'titleColumn'})[:25]
    titles = [row.find('a')['href'][7:-1] for row in title_rows]
    print(titles)
    all_data = []
#     for title in titles:
#         all_data += get_all_reviews(title=title,startkey='',limit=1000)
    
#     return all_data

In [56]:
get_25_reviews()

['tt0111161', 'tt0068646', 'tt0071562', 'tt0468569', 'tt0050083', 'tt0108052', 'tt0167260', 'tt0110912', 'tt0060196', 'tt0120737', 'tt0137523', 'tt0109830', 'tt1375666', 'tt0167261', 'tt0080684', 'tt0133093', 'tt0099685', 'tt0073486', 'tt0047478', 'tt0114369', 'tt0118799', 'tt0317248', 'tt0102926', 'tt0038650', 'tt0076759']

In [49]:
test1 = get_all_reviews('tt0068646',limit=1000,startkey='')

14
14

In [52]:
len(test1)

14

In [54]:
test = get_25_reviews()

19
19
14
14
19
19
18
18
20
20
20
20
18
18
22
22
17
17
23
23
22
22
19
19
9
9
18
18
18
18
21
21
20
20
18
18
21
21
13
13
20
20
18
18
20
20
19
19
16
16

NameError: name 'data' is not defined

In [7]:
this = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [8]:
this

In [25]:
soup = BeautifulSoup(this.text, 'lxml')

In [27]:
BeautifulSoup(this.text, 'lxml').find_all('td',{'class':'titleColumn'})[:25]

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather: Part II</a>
 <span class="secondaryInfo">(1974)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0468569/" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt0050083/" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt0108052/" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">Schindler's List</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0167260/" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">The Lord of the Rings: The Return of the King</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0110912/" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0060196/" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">The Good, the Bad and the Ugly</a>
 <span class="secondaryInfo">(1966)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt0120737/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Fellowship of the Ring</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt0137523/" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0109830/" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt1375666/" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt0167261/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Two Towers</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt0080684/" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode V - The Empire Strikes Back</a>
 <span class="secondaryInfo">(1980)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt0133093/" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">The Matrix</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt0099685/" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Goodfellas</a>
 <span class="secondaryInfo">(1990)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt0073486/" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">One Flew Over the Cuckoo's Nest</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt0047478/" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Seven Samurai</a>
 <span class="secondaryInfo">(1954)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt0114369/" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Se7en</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt0118799/" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">Life Is Beautiful</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt0317248/" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">City of God</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0102926/" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">The Silence of the Lambs</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt0038650/" title="Frank Capra (dir.), James Stewart, Donna Reed">It's a Wonderful Life</a>
 <span class="secondaryInfo">(1946)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt0076759/" title="George Lucas (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode IV - A New Hope</a>
 <span class="secondaryInfo">(1977)</span>
 </td>]

In [23]:
title_rows = soup

In [24]:
titles = [row.find('a')['href'][7:-1] for row in title_rows]

['tt0111161',
 'tt0068646',
 'tt0071562',
 'tt0468569',
 'tt0050083',
 'tt0108052',
 'tt0167260',
 'tt0110912',
 'tt0060196',
 'tt0120737',
 'tt0137523',
 'tt0109830',
 'tt1375666',
 'tt0167261',
 'tt0080684',
 'tt0133093',
 'tt0099685',
 'tt0073486',
 'tt0047478',
 'tt0114369',
 'tt0118799',
 'tt0317248',
 'tt0102926',
 'tt0038650',
 'tt0076759',
 'tt0120815',
 'tt0245429',
 'tt0120689',
 'tt0816692',
 'tt6751668',
 'tt0110413',
 'tt0114814',
 'tt0056058',
 'tt0110357',
 'tt0253474',
 'tt0088763',
 'tt0103064',
 'tt0120586',
 'tt0027977',
 'tt0054215',
 'tt0172495',
 'tt0021749',
 'tt0407887',
 'tt1675434',
 'tt2582802',
 'tt0482571',
 'tt0095327',
 'tt0064116',
 'tt8503618',
 'tt0034583',
 'tt0095765',
 'tt0047396',
 'tt0078748',
 'tt0078788',
 'tt0209144',
 'tt0032553',
 'tt0082971',
 'tt1853728',
 'tt0405094',
 'tt7286456',
 'tt0050825',
 'tt0910970',
 'tt0081505',
 'tt4154756',
 'tt0043014',
 'tt0051201',
 'tt0364569',
 'tt0119698',
 'tt4633694',
 'tt0057012',
 'tt1345836',
 'tt0087843',
 'tt0090605',
 'tt5311514',
 'tt4154796',
 'tt2380307',
 'tt0169547',
 'tt0112573',
 'tt0082096',
 'tt1187043',
 'tt0114709',
 'tt0057565',
 'tt8267604',
 'tt0086879',
 'tt0361748',
 'tt0086190',
 'tt0986264',
 'tt0119217',
 'tt0105236',
 'tt0062622',
 'tt0180093',
 'tt0052357',
 'tt0022100',
 'tt0338013',
 'tt2106476',
 'tt5074352',
 'tt0033467',
 'tt8579674',
 'tt0093058',
 'tt0040522',
 'tt0045152',
 'tt0012349',
 'tt0053125',
 'tt0066921',
 'tt0208092',
 'tt0086250',
 'tt0075314',
 'tt0044741',
 'tt0056172',
 'tt0211915',
 'tt0435761',
 'tt0070735',
 'tt1832382',
 'tt0017136',
 'tt0091251',
 'tt1255953',
 'tt0059578',
 'tt0053604',
 'tt0036775',
 'tt0056592',
 'tt1049413',
 'tt0097576',
 'tt0113277',
 'tt0119488',
 'tt0095016',
 'tt0071853',
 'tt0042876',
 'tt0055630',
 'tt0372784',
 'tt6966692',
 'tt0363163',
 'tt0118849',
 'tt0105695',
 'tt0089881',
 'tt0053291',
 'tt0347149',
 'tt0042192',
 'tt0268978',
 'tt0112641',
 'tt0057115',
 'tt0993846',
 'tt0457430',
 'tt1305806',
 'tt0120735',
 'tt0469494',
 'tt0081398',
 'tt0096283',
 'tt0055031',
 'tt0040897',
 'tt0046912',
 'tt5027774',
 'tt0066763',
 'tt0015864',
 'tt0071315',
 'tt1130884',
 'tt0476735',
 'tt0477348',
 'tt0434409',
 'tt0050976',
 'tt2096673',
 'tt1291584',
 'tt0080678',
 'tt0084787',
 'tt0167404',
 'tt0117951',
 'tt0107290',
 'tt0031381',
 'tt0120382',
 'tt0266543',
 'tt0050986',
 'tt0083658',
 'tt0079944',
 'tt0266697',
 'tt0050212',
 'tt0353969',
 'tt0116282',
 'tt3170832',
 'tt0077711',
 'tt1205489',
 'tt0046438',
 'tt0041959',
 'tt0047296',
 'tt3011894',
 'tt4729430',
 'tt0077416',
 'tt0107207',
 'tt0978762',
 'tt2267998',
 'tt2278388',
 'tt2119532',
 'tt0112471',
 'tt0264464',
 'tt8108198',
 'tt0060827',
 'tt0118715',
 'tt1392214',
 'tt0035446',
 'tt0015324',
 'tt0116231',
 'tt0017925',
 'tt0892769',
 'tt1950186',
 'tt2024544',
 'tt0031679',
 'tt0072684',
 'tt6148156',
 'tt1392190',
 'tt0405159',
 'tt0074958',
 'tt0092005',
 'tt0097165',
 'tt0061512',
 'tt0052618',
 'tt1028532',
 'tt1201607',
 'tt0091763',
 'tt0758758',
 'tt3315342',
 'tt4016934',
 'tt0046268',
 'tt0079470',
 'tt1979320',
 'tt0019254',
 'tt0053198',
 'tt1895587',
 'tt0060107',
 'tt0395169',
 'tt0113247',
 'tt0245712',
 'tt0075148',
 'tt0048021',
 'tt0087544',
 'tt1954470',
 'tt0198781',
 'tt0032976',
 'tt0405508',
 'tt0381681',
 'tt0118694',
 'tt8613070',
 'tt0087884',
 'tt0025316',
 'tt4430212',
 'tt4857264',
 'tt1454029',
 'tt0093779',
 'tt0058946',
 'tt0018773',
 'tt2991224',
 'tt0088247',
 'tt5323662']

In [ ]:
<td class="titleColumn">
      2.
      <a href="/title/tt0068646/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&amp;pf_rd_r=VW1878AVAQX1MFEAVWAE&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_2" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
        <span class="secondaryInfo">(1972)</span>
    </td>